<%- include("_header") -%>
    <div class="home">
        <h1> ADOTE! </h1>
        <h2>Adote um PET e faça a diferença na vida dele!</h2>
        <p>Adotar um animal é um ato de amor e responsabilidade. Ao adotar, você não só ganha um novo amigo, mas também ajuda a salvar uma vida. </p>
        <p>Na ONG Amor Animal, temos muitos pets esperando por um lar amoroso. Cada um deles tem uma história única e está pronto para dar e receber amor.</p>
           <div class="container">
        <a href="/adote">
        <div  class="photobanner" id="slides">  
  <p>Adote aqui</p>
  <img src="/static/uploads/adocao/1.jpg" alt="Adote aqui" />

 </div>   
</a>
    </div>
    </div>
    
    <div class="home">
      <h1 class=""> HISTÓRIA DE ADOTADOS!</h1>
        <h2>Quer contar a sua história de adoção?</h2>
        <p>Se você tem um PET adotado e quer contar a sua história, ADICIONE! </p>
    </div>
    <div class="artigo">
        <button><a href="./form_adotado">Adicionar</a></button>  
      </div>
    <div class="artigo">        
        <% for(const adotado of model) { %>
            <div class="artigo">
            <img src="/static/uploads/adotado/<%= adotado.arquivo %>" />
            <h3 style="color:red;  " ><%=adotado.tutor %></h3>         
            <%=adotado.historia %>
            <h3 style="color:rgb(132, 0, 255);  "><%=adotado.pet %></h3>
             <%=adotado.origem%>
            </div>
              <!--  Delete e candelar, pós-loop -->
            <form action="/delete/adotado/<%=adotado.id %>/<%=adotado.arquivo %>" method="post"  >
                        <input type="submit" value="x" class="btn btn-default btn-danger"
                            onclick="confirm('Apagar postagem?')" class="center" /> 
                      </form>                   
                
                <% } %> 
                                         
    </div>    
   

    <%- include("_footer")-%>