<%- include("_header") -%>
  <div class="box">   
    <h2>Quer contar a sua história de adoção?</h2>
    <p>Se você tem um PET adotado e quer contar a sua história, ADICIONE! </p>
    <p>Compartilhe sua experiência e inspire outras pessoas a adotarem também!</p>
  </div>
  
  <div class="artigo">
    <button><a href="./form_adotado">Adicionar</a></button>
  </div>

  <div class="center">   
    <% if (typeof model2 !=='undefined' && model2.length> 0) {%>   
      <% for(const adotado of model2) { %>
        <div class="artigo">
       
          <img src="/static/uploads/adotado/<%=adotado.arquivo %>"  style="margin-top: 30px;"/>
          <h2 style="color:red;  ">
            <%=adotado.tutor %>
          </h2>
          <%=adotado.historia %>
            <h2 style="color:rgb(132, 0, 255);  ">
              <%=adotado.pet %>
            </h2>
            <%=adotado.origem%>      
        
        <form action="/delete/adotado/<%=adotado.id %>/<%=adotado.arquivo %>" method="post">
          <input type="submit" value="x" class="btn btn-default btn-danger" onclick="confirm('Apagar postagem?')"
            class="center" />
        </form>
        <% } %>  
        <% } else { %>
          <p>Adotantes: Nenhum dado disponível</p>
          <script>document.getElementById('data').style.display="none";</script>
          <% } %>
        </div>
  </div>


  <%- include("_footer")-%>