<%- include("_header") -%>
    <div class="center">
        <h1> ADOTADOS! </h1>
    </div>
    <div class="scroll-container">
        <div class="carousel-primary carousel-secundary ">
            <img src="/static/uploads/1.png" alt="nome" />
            <img src="/static/uploads/h7a3hkhg.png" alt="hacking" />
            <img src="/static/uploads/nina.jpeg" alt="nina" />
        </div>
    </div>
    <hr>
    <!-- elemento central -->
    <div class="center">
        <h1> ADOÇÃO! </h1>
    </div>
    <!--Formulário-->
  <div class="center">
    <button><a href="./form_adocao">Adicionar</a></button>
  </div>
 
    <table >
        <!--   loop 1  <thead>-->
           <% for(const adocao of model) { %>                   
           <tr>
              <th>imagem </th>            
              <% for ( const model in  adocao) { %>        
                 <th><%=model %></th>        
                 <% } %>                   
           </tr>
       <!--     loop único -->
            <% break %>
            <% } %>   
        <!--  loop 2  <tbody>-->
          <% for(const adocao of model) { %>       
           <tr>
             <!--  imagem -->
              <td><img src="../static/uploads/<%= adocao.arquivo %>" /></td>
  
           <% for(const key in adocao) { %>        
            <td><%=adocao[key] %></td>      
  
           <% } %>
           
          <!--  Delete e candelar, pós-loop -->
           <td> <form action="/delete/adocao/<%=adocao.id %>/<%= adocao.arquivo %>" method="post">
              <input type="submit" value="Delete"
                  class="btn btn-default btn-danger"
                  onclick="confirm('Apagar postagem?')" /></td>
  
                  <td> <a class="btn btn-outline-dark cancel" href="/adocao">Cancelar</a> </td>         </tr>
            <% } %> 
         
         </table>






    <script src="/js/alert.js"></script>

    <%- include("_footer")-%>