<%- include("_header") -%>
<div class="home">
  <h1>ADOTE!</h1>    
  </div>
  <div class="artigo">    
    <h2>Adote um PET e faça a diferença na vida dele!</h2>
    <p>Adotar um animal é um ato de amor e responsabilidade. Ao adotar, você não só ganha um novo amigo, mas também
      ajuda a salvar uma vida. </p>
    <p>Na ONG Amor Animal, temos muitos pets esperando por um lar amoroso. Cada um deles tem uma história única e está
      pronto para dar e receber amor.</p>
  </div>

  <div class="container">          
            <div class="photobanner" id="slides">
              <% if ( model1.length > 0) { %>
                <% for (const adocao of model1) { %>
              <a href="/adote">
                <img src="/static/uploads/adocao/<%= adocao.arquivo || 'default.jpg' %>" alt="Imagem do pet para adoção"  style="width: 200px; "/>
                <p><%=adocao.nome%></p>
              </a>         
          <% } %>
        <% } else { %>
          <a href="/adote">
          <p>Adicionar um Pet.</p>
          </a>
        <% } %> 
      </div>
  </div>

<div class="home">
  <h1 class=""> HISTÓRIA DE ADOTADOS!</h1>
</div>

  <div class="artigo">   
    <h2>Quer contar a sua história de adoção?</h2>
    <p>Se você tem um PET adotado e quer contar a sua história, ADICIONE! </p>
    <p>Compartilhe sua experiência e inspire outras pessoas a adotarem também!</p>
  </div>
  
  <div class="artigo">
    <button><a href="./form_adotado">Adicionar</a></button>
  </div>

   
      <% for(const adotado of model2) { %>
       
          <img src="/static/uploads/adotado/<%=adotado.arquivo %>"  style="margin-top: 30px;"/>
          <h2 style="color:red;  ">
            <%=adotado.tutor %>
          </h2>
          <%=adotado.historia %>
            <h2 style="color:rgb(132, 0, 255);  ">
              <%=adotado.pet %>
            </h2>
            <%=adotado.origem%>      
        
        <form action="/delete/adotado/<%=adotado.id %>/<%=adotado.arquivo %>" method="post">
          <input type="submit" value="x" class="btn btn-default btn-danger" onclick="confirm('Apagar postagem?')"
            class="center" />
        </form>
        <% } %>  

  </div>


  <%- include("_footer")-%>