<%- include("_header") -%>
  <div class="home">
    <h1> ADOÇÃO! </h1>
  </div>
  <!--Formulário-->

  <div class="artigo">
    <button><a href="./form_adocao">Adicionar</a></button>
  </div>


  <table>
      <tr>
        <th>Origem</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Especie</th>
        <th>Porte</th>
        <th>Caracteristicas</th>
       <th></th>
        <th class="hidden">Tutor</th>
        <th class="hidden">Contato</th> 
        <th class="hidden">Whatsapp</th>
        <th></th>
        <th></th>
        <th></th>      
 
    </tr>
   <tr>
      <% if (model.length > 0) { %>
        <% for(const adocao of model) { %>
      <td>
        <%= adocao.origem %>
      </td>
      <!--  imagem -->
      <td><img src="/static/uploads/adocao/<%=adocao.arquivo %>" /></td>
      <!--      Ler toda a linha sql. -->
      <!-- <% for(const key in adocao) { %>        
        <td><%=adocao[key] %></td>
               <% } %> -->
      <td>
        <%=adocao.nome%>
      </td>
      <td>
        <%=adocao.idade%>
      </td>
      <td>
        <%=adocao.especie%>
      </td>
      <td>
        <%=adocao.porte%>
      </td>
      <td>
        <%=adocao.caracteristicas%>
      </td> 
      <td><button onclick="toggleDetails()">Detalhes</button></td>     
          <td class="hidden"> <%=adocao.tutor%></td>
            <td class="hidden"> <%=adocao.contato%></td>
              <td class="hidden"><%=adocao.whatsapp%></td>
                <td><form action="/delete/adocao/<%=adocao.id %>/<%= adocao.arquivo %>" method="post" class="hidden">
                  <input class="btncustom" type="submit" value="Deletar"
                    onclick="return confirm('Você tem certeza que deseja deletar?')">
                </form>       
      </td>
      <% } %>
      <% } else { %>
       
      <% } %>
      <td> <a href="/quiz">Adote</a></td>
      <td> <a class="btn btn-outline-dark cancel" href="./home">Cancelar</a> </td>

     
    </tr>
  </table>
  
 <%-include("_footer")-%>
