<%- include("_header") -%>
<div class="center">
    <h1> ADOÇÃO! </h1>
</div>
<!--Formulário-->

<div class="artigo">
    <button><a href="./form_adocao">Adicionar</a></button>  
  </div>


<table>
  <tr>
    <th>Data</th>
    <th></th>
    <th>Nome</th>
    <th>Idade</th>
    <th>Especie</th>
    <th>Porte</th>
    <th>Caracteristicas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <!--   loop 1  <thead>-->
      <!--  <% for(const adocao of model) { %>                   
       <tr>
          <th>imagem </th>            
          <% for ( const model in  adocao) { %>        
             <th><%=model %></th>        
             <% } %>  
             <th></th>    
             <th></th>
          
       </tr>
        loop único -->
      <!--   <% break %>
        <% } %>    --> 
        
    <!--  loop 2  <tbody>-->
      <% for(const adocao of model) { %>       
       <tr>
        <td><%=adocao.origem%></td>
        <!--  imagem -->
          <td><img src="/static/uploads/adocao/<%=adocao.arquivo %>" /></td>
 <!--      Ler toda a linha sql. -->
       <!-- <% for(const key in adocao) { %>        
        <td><%=adocao[key] %></td>
               <% } %> -->
               <td><%=adocao.nome%></td>
               <td><%=adocao.idade%></td>
               <td><%=adocao.especie%></td>
               <td><%=adocao.porte%></td>
               <td><%=adocao.caracteristicas%></td>
               <td><button class="show" onclick="toggleVisibilityWithTimeout('id-info-<%=adocao.id%>')">Mais...</button></td>
                  <div class="hidden" id="id-info-<%=adocao.id%>" tabindex="2">                    
               Tutor: <%=adocao.tutor%> 
               <br>              
              Contato: <%=adocao.contato%>                 
         <form action="/delete/adocao/<%=adocao.id %>/<%= adocao.arquivo %>" method="post">
          <input  class="btncustom" type="submit" value="Deletar"
              class="btn btn-default btn-danger"
              onclick="confirm('Apagar postagem?')" /></form>
           </div>
               </td>
         <td> <a href="/quiz"><button>Adote</button></a></td>  
         <td> <a class="btn btn-outline-dark cancel" href="./home">Cancelar</a> </td>         
          
            </tr>
        <% } %> 
      
     </table>
   
     <%- include("_footer")-%>
