<%- include("_header")-%>
    <!--  elemento central -->
    <div class=center>
        <h1>CASTRAÇÃO! </h1>
    </div>
    <div class="center">
        <button><a href="./form_castracao">Adicionar</a></button>
    </div>

   <!--      you can iterate over the array like you said, then iterate over each object of the array twice. First to print the headers, then to print the data
    
    The for...of statement creates a loop iterating over iterable objects, including: built-in String, Array, array-like objects (e.g., arguments or NodeList), TypedArray, Map, Set, and user-defined iterables. It invokes a custom iteration hook with statements to be executed for the value of each distinct property of the object.
    
    The for...in statement iterates over all enumerable properties of an object that are keyed by strings. -->
    
    <table >
      <!--   loop 1  <thead>-->
         <% for(const castracao of model) { %>                   
         <tr>
            <th>imagem </th>            
            <% for ( const model in  castracao) { %>        
               <th><%=model %></th>        
               <% } %>                   
         </tr>
     <!--     loop único -->
          <% break %>
          <% } %>   
          <hr>
      <!--  loop 2  <tbody>-->
        <% for(const castracao of model) { %>       
         <tr>
           <!--  imagem -->
            <td><img src="../static/uploads/<%= castracao.arquivo %>" /></td>

         <% for(const key in castracao) { %>        
          <td><%=castracao[key] %></td>      

         <% } %>
         
        <!--  Delete e candelar, pós-loop -->
         <td> <form action="/delete/castracao/<%=castracao.ticket %>/<%=castracao.arquivo %>" method="post">
            <input type="submit" value="Delete"
                class="btn btn-default btn-danger"
                onclick="confirm('Apagar postagem?')" /></td>

                <td> <a class="btn btn-outline-dark cancel" href="/castracao">Cancelar</a> </td>         </tr>
          <% } %> 
       
       </table>


    <%- include("_footer")-%>