<%- include("_header")-%>
<link rel="stylesheet" href="../static/css/castracao.css">
<main class="container">
    <section class="content">
        <div class="info-section card">
            <fieldset class="card-body">
                <legend class="card-title">IMPORTANTE</legend>
                <p class="card-text">
                    O Serviço de Castração é realizado dentro de um limite de cotas mensais, a um valor de baixo custo
                    por atendimento com
                    medicação inclusa, dentro do dia e horario disponivel nas clinicas convêniadas. </p>
            </fieldset>
        </div>

        <div class="home">
            <div class="button-container">
                <a href="./form_castracao" class="button">Agendar</a>
            </div>
        </div>

    <section class="table-container" id="data">
        <div class="card">
            <div class="card-header">
                Lista de Castrações Agendadas
            </div>
            <div class="card-body">
                <table class="castracao-table table table-striped table-hover table-responsive">
                    <% if (typeof model !=='undefined' && model.length> 0) {%>
                    <thead>
                            <th>Data</th>
                            <th>Nº Ticket</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Whatsapp</th>
                            <th>Imagem</th>
                            <th>Idade</th>
                            <th>Especie</th>
                            <th>Porte</th>
                            <th>Clinica</th>
                            <th>Agenda</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(const castracao of model) { %><tr>
                            <td><%=castracao.data%></td>
                            <td class="ticket"><%=castracao.ticket%></td>
                            <td><%=castracao.nome%></td>
                            <td><%=castracao.telefone%></td>
                            <td><%=castracao.whatsapp%></td>
                            <td>
                                <div class="image-container">
                                    <img class="img-thumbnail"
                                        src="../static/uploads/castracao/<%=castracao.arquivo%>"
                                        alt="Imagem da Castração" />
                                </div>
                            </td>
                            <td><%=castracao.idade%></td>
                            <td><%=castracao.especie%></td>
                            <td><%=castracao.porte%></td>
                            <td><%=castracao.clinica%></td>
                            <td><%=castracao.agenda%></td>
                            <td class="action-buttons">
                                <button class="delete-button"
                                    onclick="confirmDelete('<%=castracao.ticket %>', '<%=castracao.arquivo %>')">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <button class="cancel-button"><a href="./home">Cancelar</a></button>
                            </td>
                        </tr><% } %>
                    </tbody>
                    <% } else { %>
                    <p>Castrações: Nenhum dado disponível</p>
                    <script>document.getElementById('data').style.display="none";</script>
                    <% } %>
                </table>
            </div>
        </div>
    </section>
    <script>
        function confirmDelete(ticket, arquivo) {
            if (confirm('Tem certeza de que deseja excluir esta castração?')) {
                // Se o usuário confirmar, redireciona para a rota de exclusão
                window.location.href = `/delete/castracao/${ticket}/${arquivo}`;
            }
            // Se o usuário cancelar, não faz nada
        }
    </script>
</main>
<%- include("_footer")-%>