<%- include("_header")-%>
    <!--  elemento central -->
  
    <fieldset class="artigo">
        <legend>IMPORTANTE</legend>
            <p> O Serviço de Castração é realizado dentro de um limite de cotas mensais, a um valor de baixo custo por atendimento com medicação inclusa, dentro do dia e horario disponivel nas clinicas convêniadas.    </p>
    </fieldset>
    
   
<div class="home">
    
<div class="artigo">
    <button><a href="./form_castracao">Agendar</a></button>
</div>

    </div class="artigo">    
    <!-- you can iterate over the array like you said, then iterate over each object of the array twice. First to print the headers, then to print the data
    
    The for...of statement creates a loop iterating over iterable objects, including: built-in String, Array, array-like objects (e.g., arguments or NodeList), TypedArray, Map, Set, and user-defined iterables. It invokes a custom iteration hook with statements to be executed for the value of each distinct property of the object.
    
    The for...in statement iterates over all enumerable properties of an object that are keyed by strings. 
     -->
    <table >
        <% if (typeof model !=='undefined' && model.length> 0) {%>   
         <% for(const castracao of model) { %>                   
         <tr>
            <th>dia</th>
            <th>ticket</th>
            <th>Tutor </th> 
            <th>Contato</th>    
            <th>Whatsapp</th>
            <th></th>
            <th>Idade</th>   
             <th>Especie</th>
            <th>Porte</th>
            <th>Clinica</th>
            <th>Agenda</th>           
            <th></th>

         </tr>
         <tr>
            <td><%=castracao.origem%></td>
            <td style="color: crimson; font-weight: bold;"><%=castracao.ticket%></td>
            <td><%=castracao.nome%></td>
            <td><%=castracao.contato%></td>
            <td><%=castracao.whatsapp%></td>
            <td><img src="../static/uploads/castracao/<%=castracao.arquivo%>" /></td>
            <td><%=castracao.idade%></td>
            <td><%=castracao.especie%></td>
            <td><%=castracao.porte%></td>
            <td><%=castracao.clinica%></td>
            <td><%=castracao.agenda%></td>
            <td> <form action="/delete/castracao/<%=castracao.ticket %>/<%=castracao.arquivo %>" method="post">
                <input  type="submit" value="Delete"
                    class="btn btn-default btn-danger"
                    onclick="confirm('Apagar postagem?')" /></td>
                 </form>
                    <td> <a class="btn btn-outline-dark cancel" href="./home">Cancelar</a> </td>    

          
         </tr>   
       <!--      <% for ( const model in  castracao) { %>        
               <th><%=model %></th>        
               <% } %>                   
         </tr>
        loop único -->
         <!--  <% break %>
          <% } %>   
          <hr>    
             loop 2  tbody-->
        <!-- <% for(const castracao of model) { %>       
         <tr> -->
           <!--  imagem -->
            
       <!--   <% for(const key in castracao) { %>        
          <td><%=castracao[key] %></td>      

         <% } %> 
         
          Delete e candelar, pós-loop -->
       
                 </tr>
          <% } %> 
          <% } else { %>
            <p>Adotantes: Nenhum dado disponível</p>
            <script>document.getElementById('data').style.display="none";</script>
            <% } %>
       
       </table>


    <%- include("_footer")-%>