<%- include("_header")-%>
    <!--  elemento central -->
    <div class="home">
        <h1> PROCURA-SE! </h1>
    </div>

    <!-- artigo -->
      <div class="artigo">
        <h1> Quer ajudar a encontrar um PET desaparecido?.</h1>
        <h2> ANUNCIE, nossa rede voluntária gostaria de ajudar!</h2>
        <p>Se você tem um PET desaparecido e quer ajuda para encontrá-lo, ADICIONE! </p>
    </div>
   
    <div class="home">
        <h1> Lista de PETS desaparecidos</h1>
        </div>   
        <div class="artigo">
            <button><a href="./form_procura_se">Adicionar</a></button>  
          </div>       
   <table>  
    
        <tr>
            <th>Data</th>
            <th>Foto</th>
            <th>Nome Pet</th>         
            <th>Idade Pet</th>
            <th>Especie</th>
            <th>Porte</th>     
            <th>Caracteristicas</th>
            <th>Local</th>
            <th>Tutor</th>
            <th>Contato</th>
            <th>Whatsapp</th>
            <th></th>

        </tr>
        <% for (const procura_se of model) { %>  
        <tr>
            <td><%=procura_se.data%></td>
             <td><img src="../static/uploads/procura_se/<%=procura_se.arquivo %>" width="100px" height="100px" alt="carregando..."/></td>
             <td><%= procura_se.nomePet %></td>
             <td><%= procura_se.idadePet %></td>
             <td><%= procura_se.especie %></td>
             <td><%= procura_se.porte %></td>
             <td><%= procura_se.caracteristicas %></td>
             <td><%= procura_se.local %></td>
             <td><%= procura_se.tutor %></td>
             <td><%= procura_se.contato %></td>
             <td><%= procura_se.whatsapp %></td>
             <td> <form action="/delete_procura_se/<%=procura_se._id%>" method="post">
                <input type="submit" value="Deletar" class="btn btn-default" onclick="confirm('Deseja realmente excluir?')">
            </form></td>
          </tr>
  <% } %>
   </table>
          <hr>    
    
    <%- include("_footer") -%>