<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatorio</title>
    <link rel="stylesheet" href="/static/css/default.css">
  <link rel="icon" type="image/png" href="/static/css/favicon/ong.ico">
</head>
<p id="table" style="display:none"><%=tabela%></p>
<body style=" max-width: 100%; margin: 0 px auto;">
     <table id ="table" style="white-space: nowrap; overflow-x: auto;">
       <thead >
          <% if (typeof model !=='undefined' && model.length ) {%>     
            <!-- Loop bloco1 -->
            <!-- Loop de todo o array -->
            <% for(const tabela of model) { %>    
                <!-- Loop somente propriedaades do array -->
                
             <!-- Agrupar tabela -->
             
            <tr>
            <% for (const model in tabela ) {%>
          
            <th><%=model%></th> 
            <%}%>   
            <%break%> 
            </tr>
            <%}%>      
            
          </tr>
          
        </thead>
      
        <tbody>
           <!-- Loop bloco2 -->
      <% for(const tabela  of model) { %>    
      </tr>
           
        <!-- Loop dos objetos do array -->
        <tr>
         
         <% for (const key in tabela ) { %>
       
                 <td> <%=tabela [key]%> 
                 </td>
                 <% } %>     
       </tr>      
        </tbody>
        <%}%>
        <% } else { %>
       <p>Dados: Nenhum dado disponível</p>
       <script>document.getElementById('data').style.display="none";</script>
       <% } %>

      </table>   
      </div>  
     
  <div style="margin-top: 30px">    
    <form action="/relatorio/<%=tabela%>" method="post">
      <input type="submit" value="Gerar Relatorio" class="btn btn-default btn-danger" onclick="confirm('Gerar Relatorio?')"
        class="center" />
    </form>
     <button type="button" onclick=javascript:window.print() >Download HTML</button>    
  </div>
<%-include("_footer")-%>